header {
	font-size: 24px;
	text-align: center;
}

.hidden {
	display: none;
}

#game {
	height: 360px;
}

#board {
	background-color: lightgray;
	border-width: thin;
	border-style: solid;
	border-color: black;
	border-top: none;
	float: left;
	margin-left:25px;
}

.row {
	width: 700px;
	height: 50px;
	border-width: thin;
	border-style: solid;
	border-color: black;
	border-top: none;
}

.cell {
	/* display: inline; */
	width: 98px;
	height: 50px;
	float: left;
	border-width: thin;
	border-style: solid;
	border-color: black;
	border-top: none;
}

.piece {
	height: 50px;
	width: 50px;
	margin-left: 25px;
	border-radius: 50px;
}

#players > div{
	float: left;
	margin-left:10%;
	margin-right: 5%;
	font-size: 24px;	
}

.active-player {
	-webkit-transform: scale(1.3,1.3);
	-moz-transform: scale(1.3,1.3);
  	-ms-transform: scale(1.3,1.3);
	-o-transform: scale(1.3,1.3);
	transform: scale(1.3,1.3);

	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

.inactive-player {
	-webkit-transform: scale(0.7,0.7);
	-moz-transform: scale(0.7,0.7);
  	-ms-transform: scale(0.7,0.7);
	-o-transform: scale(0.7,0.7);
	transform: scale(0.7,0.7);

	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

.reset-player {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1); 
  	-ms-transform: scale(1,1); 
	-o-transform: scale(1,1);
	transform: scale(1,1);

 	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

@-webkit-keyframes win {
    from { -webkit-transform: rotate(0deg) scale(1.3) ; } 
    to { -webkit-transform: rotate(360deg) scale(0.1); } 
} 

@-moz-keyframes win {
    from {-moz-transform: rotate(0deg) scale(1.3); }
    to { -moz-transform: rotate(360deg) scale(0.1); }
}

@keyframes win {
    from { transform: rotate(0deg) scale(1.3); }
    to { transform: rotate(360deg) scale(0.1); }
}

.animation {
	-webkit-animation-name: win;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
  	-webkit-animation-direction: alternate;
  	-moz-animation-name: win;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 2;
  	-moz-animation-direction: alternate;
  	-ms-animation-name: win;
    -ms-animation-duration: 1s;
    -ms-animation-iteration-count: 2;
  	-ms-animation-direction: alternate;
    animation-name: win;
    animation-duration: 1s;
}

main {
	margin-left: 10px;
}

button {
	cursor: pointer;
	margin-top: 50px;
	margin-right: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 14px;
	padding: 8px 16px;
}

#start {
	margin-left : 22%;;
}

#players {
	overflow: auto;
	height: 220px;
}

#button-container {
	overflow: auto;
}

/*footer {
	position: fixed;
	bottom: 0;
	left: 40%;
}*/

footer > p {
	text-align: center;
}

@media screen and (max-width: 875px) {
    #players {
        overflow: inherit;
    }
}